body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #484f5c;
}

.sidebar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #ed1c5b;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 100%;
    border-right: 5px blue solid;
    transition: 1.5s;
    align-items: left;
    line-height:1.8;
    color: #fff;
    flex: 1 1 auto;
}


.text{
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

.sidebar:hover{
    width: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}



.sidebar:hover .text{
    transition-delay: 0.8s;
    opacity: 1;
    visibility: visible;
}


.sidebar li{
    height: 100px;
    width: 100%;

}

.sidebar li:hover{
    background: #1a1a1a;
    transition: 0.5s;
    
}

a{
    color: #fff;
}
